@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto+Mono:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  transition: background-color 1s ease;
  min-height: 100vh;
  color: rgb(46, 46, 46);
  font-family: "Roboto Mono", monospace;
  background-position: bottom right;
  background-repeat: no-repeat;
}

body.baymax-green {
  background-color: #73fbea;
  color: rgb(46, 46, 46);
  background-image: url("baymax_dribble.png");
}

.baymax-red {
  background-color: #c3151b;
  color: white;
  background-image: url("baymax-red.webp");
}

.baymax-pink {
  background-color: #f7315d;
  color: rgb(46, 46, 46);
  background-image: url("baymax-pink.webp");
}

.baymax-blue {
  background-color: #8064e6;
  color: rgb(230, 230, 230);
  background-image: url("baymax-blue.webp");
}

main {
  margin-left: 5vw;
}

h1 {
  font-family: "Bree Serif", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

p {
  margin-top: 10px;
}

.title {
  padding-top: 20vh;
}

a,
a:visited {
  color: #fa849e;
}
.baymax-pink a,
.baymax-pink a:visited {
  color: #fff;
}

ul {
  list-style: none;
}
li {
  margin-bottom: 1em;
}

li.with-icon {
  height: 40px;
}

li.with-icon .fa-brands {
  vertical-align: middle;
}
