@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Mono:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2e3e3f;
  color: white;
  font-family: "Roboto Mono", monospace;
}

main {
  margin-left: 5vw;
}

h1 {
  font-family: "Quicksand", Arial, sans-serif;
}

.title {
  font-weight: lighter;
  font-size: 50px;
  margin-top: 20vh;
}

a,
a:visited {
  color: aquamarine;
}

ul {
  list-style: none;
}
li {
  margin-bottom: 1em;
}

li.with-icon {
  height: 40px;
}

li.with-icon .fa-brands {
  vertical-align: middle;
}
